$page-home-logo-size-v: 50;
$page-home-button-navigate-projects-size-v: 20;
$main-color-theme-orange: #DC5F00;
$main-color-theme-white: #EEEEEE;
$main-color-theme-red: #CF0A0A;

.page-home-logo {
    background-image: url("../../assets/Logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: min(#{$page-home-logo-size-v}vh, #{$page-home-logo-size-v}vw);
    height: min(#{$page-home-logo-size-v}vh, #{$page-home-logo-size-v}vw);
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%,-50%);
}

.page-home-button-navigate{
    position: absolute;
    height: min(#{0.3*$page-home-button-navigate-projects-size-v}vh, #{0.3*$page-home-button-navigate-projects-size-v}vw);
    font-size: min(2.5vh,2.5vw);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);
    cursor: pointer;
}

.page-home-button-navigate-projects{
    margin-top: calc(50vh + min(15vh, 15vw));
    margin-left: calc(50vw - min(45vh, 45vw));
    background-color: $main-color-theme-orange;
    width: min(#{$page-home-button-navigate-projects-size-v}vh, #{$page-home-button-navigate-projects-size-v}vw);
    color: $main-color-theme-white;
}
.page-home-button-navigate-projects:hover{
    background-color: $main-color-theme-white;
    color: $main-color-theme-orange;
    border-color: $main-color-theme-orange;
    border-style: solid;
    border-width: 5px;
}

.page-home-button-navigate-projects-fb-robomatic{
    margin-top: calc(50vh - min(40vh, 40vw));
    margin-left: calc(50vw + min(30vh, 30vw));
    width: min(#{0.9*$page-home-button-navigate-projects-size-v}vh, #{0.9*$page-home-button-navigate-projects-size-v}vw);
    background-color: $main-color-theme-orange;
    color: $main-color-theme-white;
}
.page-home-button-navigate-projects-fb-robomatic:hover{
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
.page-home-button-navigate-projects-fb-robomaticon{
    margin-top: calc(50vh - min(19vh, 19vw));
    margin-left: calc(50vw + min(25vh, 25vw));
    width: min(#{1.1*$page-home-button-navigate-projects-size-v}vh, #{1.1*$page-home-button-navigate-projects-size-v}vw);
    background-color: $main-color-theme-orange;
    color: $main-color-theme-white;
}

.page-home-button-navigate-projects-fb-robomaticon:hover{
    background-color: black;
    color: $main-color-theme-red;
    border-color: $main-color-theme-red;
    border-style: solid;
    border-width: 5px;
}
