$page-home-logo-size-v: 50;
$page-home-button-navigate-projects-size-v: 20;

.page-home-logo {
    background-image: url("../../assets/Logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: min(#{$page-home-logo-size-v}vh, #{$page-home-logo-size-v}vw);
    height: min(#{$page-home-logo-size-v}vh, #{$page-home-logo-size-v}vw);
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%,-50%);
}

.page-home-button-navigate{
    position: absolute;
    height: min(#{0.3*$page-home-button-navigate-projects-size-v}vh, #{0.3*$page-home-button-navigate-projects-size-v}vw);
    font-size: min(2.5vh,2.5vw);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);
    cursor: pointer;
}

.page-home-button-navigate-projects{
    margin-top: 20vh;
    margin-left: 25vw;
    background-color: #DC5F00;
    width: min(#{$page-home-button-navigate-projects-size-v}vh, #{$page-home-button-navigate-projects-size-v}vw);
    color: #EEEEEE;
}
.page-home-button-navigate-projects:hover{
    background-color: #EEEEEE;
    color: #DC5F00;
    border-color: #DC5F00;
    border-style: solid;
    border-width: 5px;
}

.page-home-button-navigate-projects-fb-robomatic{
    margin-top: 45vh;
    margin-left: 76vw;
    width: min(#{1.1*$page-home-button-navigate-projects-size-v}vh, #{1.1*$page-home-button-navigate-projects-size-v}vw);
    background-color: black;
    color: white;
}
.page-home-button-navigate-projects-fb-robomatic:hover{
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
.page-home-button-navigate-projects-fb-robomaticon{
    margin-top: 79vh;
    margin-left: 45vw;
    width: min(#{1.3*$page-home-button-navigate-projects-size-v}vh, #{1.3*$page-home-button-navigate-projects-size-v}vw);
    background-color: #CF0A0A;
    color: black;
}

.page-home-button-navigate-projects-fb-robomaticon:hover{
    background-color: black;
    color: #CF0A0A;
    border-color: #CF0A0A;
    border-style: solid;
    border-width: 5px;
}
