.hexagon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max(40vw, 40vh);
  aspect-ratio: 3/1;
  position: absolute;
  top:10%;
  left: 10%;
  margin-top: 10px;
  gap: min(1vw, 1vh);
}

.hexagon-button {
  width: max(12vw, 12vh);
  height: max(12vw, 12vh);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: url("gear-svgrepo-com.svg");
  color: #dc5f00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(1.7vw, 1.7vh);
  font-weight: bold;
  text-shadow:
          -1px -1px 0 black,
          1px -1px 0 black,
          -1px  1px 0 black,
          1px  1px 0 black;
  transition: transform 0.3s ease-in-out;
}

.hexagon-button:hover{
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.hexagon-button:nth-child(1) {
  left: 40%; /* Centrowanie */
}

.hexagon-button:nth-child(2) {
  left: 25%;
}

.hexagon-button:nth-child(3) {
  right: 25%;
}

.info-box {
  position: fixed;
  width: 50vw;
  aspect-ratio: 940 / 782;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-box.red {
  background-image: url("home_screen_shot.JPG");
  background-size: contain;
  background-repeat: no-repeat;
}

.info-box.brown {
  background-color: brown;
}

.info-box.blue {
  background-color: blue;
}



